# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~

cmake-build-debug

CMakeLists.txt.user.*
CMakeLists.txt.user
.idea


assets/*.log
assets/assets_ext
assets/extensions

assets/ImageTool.jar

compile_commands.json

