[submodule "dependencies/backward-cpp"]
	path = dependencies/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "dependencies/plog"]
	path = dependencies/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dependencies/asyncplusplus"]
	path = dependencies/asyncplusplus
	url = https://github.com/lowkey42/asyncplusplus.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/GSL"]
	path = dependencies/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "dependencies/magic_get"]
	path = dependencies/magic_get
	url = https://github.com/apolukhin/magic_get.git
[submodule "dependencies/nuklear"]
	path = dependencies/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "dependencies/physfs"]
	path = dependencies/physfs
	url = https://github.com/lowkey42/physfs.git
[submodule "dependencies/robin-map"]
	path = dependencies/robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "dependencies/sf2"]
	path = dependencies/sf2
	url = https://github.com/lowkey42/sf2.git
[submodule "dependencies/moodycamel"]
	path = dependencies/moodycamel
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "dependencies/doctest"]
	path = dependencies/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/SDL-mirror/SDL.git
